* {
box-sizing: border-box;
margin: 0;
padding:0
}
 

html {height:100% }
body {font-family: 'Crimson Pro', serif "Public Sans", sans-serif;
font-size: 1.15rem;
min-height: 100%;
}
#botonPdf{font-size: 1rem ;  }
#foto4x4{margin:1rem; size:100%}
.bio{margin: 1rem}
.datosp {color:lightblue; font-size: 1.2rem; }
.datospp {color:lightblue; f:ont-size 1.1rem; }
.datospp {text-decoration-line: underline}

.grid-container> *{
background-color: rgb(147, 64, 13); 
  
box-shadow: -1px 1px 7px 0px rgb(47, 47, 144) ;
border-radius: 11px;
padding: 10px;
text-align: 10px; 

}
.sidebar{padding:5%}
/*La disposicion inicial es para móvil*/
.grid-container{display: grid; gap: 10px;
grid-template-areas: 

"header" 
"bio"
"main"

"sidebar"

"footer"

}



.header{grid-area: header; background-image: url(imagenes/barritas.png) ;background-size:100% ;color:rgb(245, 245, 240);font-size: 2rem; text-align: center;}
.bio{grid-area: bio;
    background-color:rgb(243, 237, 237)}
.main{grid-area: main; background-image: url(imagenes/malla.png); background-size: 100%; color:white } 
   
   
.sidebar{grid-area: sidebar;background-color: beige;}  
               
.footer{grid-area: footer;
    background-color:rgb(167, 188, 63)} 
    /*Buscamos si el ancho supera 600px para tablet y se agregan imagenes aptas para esa escala */  
@media (min-width: 600px)  {
    .main{background-image: url(imagenes/escritoriooscuro.png); background-size: 100%; opacity: .7; color:white}
    .grid-container{

       
        grid-template:

        "header header" 100px
        "bio bio" auto
        "sidebar main"  auto
        "footer  footer" 100px/
        200px auto
    }
    .header{color:lightblue}
    .main{
        background-color:rgb(240, 240, 240)}
}       
/*Si el ancho supera 900px cambiamos la disposicion a PC*/
@media (min-width: 900px)  {
    .header{color:lightblue}
    .grid-container{

        grid-template:

        "header header header" 100px
        
        "bio main sidebar"  auto
        "footer  footer footer" 100px/
        200px auto auto
    }
    .main{
        background-color:rgb(200, 200, 200)}
}  